<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
    <title>Pizza Shop</title>
</head>
<body>
    <header>
        <h1>Pizzeria Valle Grande</h1>
        <nav>
            <ul>
                <button><a href="#menu">Menú</a></button>
                <button><a href="#specials">Especiales</a></button>
                <button><a href="#contact">Contactanos</a></button>
            </ul>
        </nav>
    </header>

    <section id="menu">
      <h2>Pizzas del dia</h2>
      <div class="menu-item">
          <div class="pizza-image"></div>
          <h3>Pizza Peperoni</h3>
          <p>Tomate clasico, Mozzarella</p>
          <p class="price">$12.99</p>
          <button>Comprar</button>
      </div>
      <div class="menu-item">
        <div class="pizza-dos"></div>
        <h3>Pizza Doble Queso</h3>
        <p>Tomate, Jamon, Queso doble</p>
        <p class="price">$18.99</p>
        <button>Comprar</button>
    </div>
    <div class="menu-item">
      <div class="pizza-tres"></div>
      <h3>Pizza con Piña</h3>
      <p>Piña, Queso, Jamon</p>
      <p class="price">$10.99</p>
      <button>Comprar</button>
  </div>

        <!-- Add more menu items here -->
    </section>

    <section id="specials">
        <h2>Especiales</h2>
        <div class="special-item">
          <div class="pizza-especial"></div>
            <h3>LA YISUS</h3>
            <p>Peperoni, Jamon, Chorizo, Doble queso</p>
            <p class="price">$12.99</p>
            <button>Comprar</button>
        </div>
        <!-- Add more specials here -->
    </section>

    <section id="contact">
        <h2>Contactanos</h2>
        <p>Cual es tu duda?, contactate con nosotros</p>
        <address>
            Email: <a href="mailto:info@pizzashop.com">pizzeria.vg@gmail.com</a><br>
            Phone: 999-999-999
        </address>
    </section>

    <footer>
        <p>&copy; 2023 Pizzeria Valle Grande.</p>
    </footer>
</body>
</html>
